*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family:"Montserrat", sans-serif;
  font-size: 13px;
  margin: 0;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.catalog__container {
  background-image: url("images/dandelion.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-top: 220px;
}

.catalog__title {
  margin: 0px auto 110px auto;
  font-weight: 400;
  font-size: 70px;
  line-height: 78px;
  text-align: center;
  color: #515076;
}

.card {
  padding:25px;
  background-color: #F7F7FA;
}

.card__image {
  display: block;
  margin-bottom: 30px;
}

.card__category {
  display: block; 
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 5px;
  color: #A5A3B9;
}

.products { 
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
  padding: 0;
}

.products__item {
  width: 340px;
}

.card__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin: 0px;
  padding-bottom: 5px;
  color: #515076;
}

.card__description {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin: 0px;
  padding-bottom: 15px;
  color: #515076;
}

.card__compound {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #515076;
}

.compound__list {
  padding: 5px 0 0px 8px;
  margin-left: 8px;
}

.compound__ingredient {
  padding: 5px 0px 0px 0px;
  margin: 0px;
}

.card__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0 0 0;
}

.card__price-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #515076;  
}

.card__price-value {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #515076;
}

.toggle-color-button{
  background-color: #3498db;
}

.toggle-color-button.active{
  background-color:#515076;
}